{% extends "::page.html.twig" %}

{% block title %}Login - Perception 2017{% endblock %}

{% block body %}
<section id="login_bg">
    <div class="mdl-grid center">
                <div class="mdl-cell mdl-cell--4-col">
                {% if error %}
                    <div class="alert alert-warning">
                        {{ error.messageKey|trans(error.messageData,'security') }}
                    </div>
                {% endif %}
                <div id="login">
                    <p class="text-center">
                        <img src="{{ asset('images/perception.png') }}" alt="Perception Logo">
                    </p>
                    <hr>
                    <form action="{{ path ('login') }}" method="post">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                            <div>
                                {% if redirect_url %}
                                    <a href="{{ path('login_facebook', { 'redirect_url': redirect_url }) }}"
                                       class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--blue-500 mdl-color-text--white">
                                        <i class="icon-facebook"></i> {% trans %}user.login.facebook{% endtrans %}
                                    </a>
                                {% else %}
                                    <a href="{{ path('login_facebook') }}" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--blue-500 mdl-color-text--white">
                                        <i class="icon-facebook"></i> {% trans %}user.login.facebook{% endtrans %}
                                    </a>
                                {% endif %}
                                {% if redirect_url %}
                                    <a href="{{ path('login_google', { 'redirect_url': redirect_url }) }}"
                                       class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"><i
                                                class="icon-google"></i> {% trans %}user.login.google{% endtrans %}</a>
                                {% else %}
                                    <a href="{{ path('login_google') }}"
                                       class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"><i
                                                class="icon-google"></i> {% trans %}user.login.google{% endtrans %}</a>
                                {% endif %}
                            </div>
                        <div class="login-or">
                            <hr class="hr-or">
                            <span class="span-or">or</span></div>

                        <div class="mdl-textfield mdl-js-textfield">
                            <input type="text" id="username" name="_username" class="mdl-textfield__input"
                                   placeholder="Username or Email" value="{{ last_username }}">
                            <label class="mdl-textfield__label"><i class=" icon-user"></i></label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield">
                            <input type="password" id="password" name="_password" class="mdl-textfield__input"
                                   placeholder="Password" style="margin-bottom:5px;">
                            <label class="mdl-textfield__label"><i class="icon-lock"></i></label>
                        </div>
                        <div class="">
                            <input type="checkbox" id="remember_me" checked name="_remember_me"/>
                            <label for="remember_me">Remember me</label>
                        </div>
                        {% if redirect_url %}
                            <input type="hidden" name="redirect_url" value="{{ redirect_url }}"/>
                        {% endif %}
                        <p class="small">
                            <a href="{{ path('account_request_password_reset') }}">Forgot Password?</a>
                        </p>
                        <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-color--green-500">Log in</button>
                        <a href="{{ path('account_register') }}" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-color--blue-grey-500">Register</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section> <!-- End login -->
{% endblock %}
