{% extends "::base.html.twig" %}

{% block title %}Login - Perception 2017{% endblock %}

{% block body %}
<section id="login_bg">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                {% if error %}
                    <div class="alert alert-warning">
                        {{ error.messageKey|trans(error.messageData,'security') }}
                    </div>
                {% endif %}
                <div id="login">
                    <p class="text-center">
                        <img src="{{ asset('assets/img/login_logo.png') }}" alt="Perception Logo">
                    </p>
                    <hr>
                    <form action="{{ path ('login') }}" method="post">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 login_social">
                                {% if redirect_url %}
                                    <a href="{{ path('login_facebook', { 'redirect_url': redirect_url }) }}"
                                       class="btn btn-primary btn-block">
                                        <i class="icon-facebook"></i> {% trans %}user.login.facebook{% endtrans %}
                                    </a>
                                {% else %}
                                    <a href="{{ path('login_facebook') }}" class="btn btn-primary btn-block">
                                        <i class="icon-facebook"></i> {% trans %}user.login.facebook{% endtrans %}
                                    </a>
                                {% endif %}
                            </div>
                            <div class="col-md-6 col-sm-6 login_social">
                                {% if redirect_url %}
                                    <a href="{{ path('login_google', { 'redirect_url': redirect_url }) }}"
                                       class="btn btn-danger btn-block "><i
                                                class="icon-google"></i> {% trans %}user.login.google{% endtrans %}</a>
                                {% else %}
                                    <a href="{{ path('login_google') }}"
                                       class="btn btn-danger btn-block "><i
                                                class="icon-google"></i> {% trans %}user.login.google{% endtrans %}</a>
                                {% endif %}
                            </div>
                        </div> <!-- end row -->
                        <div class="login-or">
                            <hr class="hr-or">
                            <span class="span-or">or</span></div>

                        <div class="form-group">
                            <input type="text" id="username" name="_username" class=" form-control "
                                   placeholder="Username or Email" value="{{ last_username }}">
                            <span class="input-icon"><i class=" icon-user"></i></span>
                        </div>
                        <div class="form-group" style="margin-bottom:5px;">
                            <input type="password" id="password" name="_password" class=" form-control"
                                   placeholder="Password" style="margin-bottom:5px;">
                            <span class="input-icon"><i class="icon-lock"></i></span>
                        </div>
                        <div class="form-group">
                            <input type="checkbox" id="remember_me" checked name="_remember_me"/>
                            <label for="remember_me">Remember me</label>
                        </div>
                        {% if redirect_url %}
                            <input type="hidden" name="redirect_url" value="{{ redirect_url }}"/>
                        {% endif %}
                        <p class="small">
                            <a href="{{ path('account_request_password_reset') }}">Forgot Password?</a>
                        </p>
                        <button type="submit" class="button_fullwidth">Log in</button>
                        <a href="{{ path('account_register') }}" class="button_fullwidth-2">Register</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section> <!-- End login -->
{% endblock %}
