{% extends 'base.html.twig' %}
{% block pageid %}templates{% endblock %}
{% block body %}
    <div class="perception-layout mdl-layout mdl-layout--fixed-header mdl-js-layout mdl-layout--no-desktop-drawer-button">
        <header class="perception-layout-header mdl-layout__header mdl-layout__header--scroll mdl-layout__header--transparent">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title">
                    <img class="logo-sm" src="{{ asset('images/perception-small.png') }}" />
                </span>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>
                <!-- Navigation -->
                <nav class="perception-navigation mdl-navigation mdl-layout__tab-bar mdl-js-ripple-effect mdl-layout--large-screen-only">
                    <a href="{{ path('event_index') }}" class="mdl-layout__tab mdl-navigation__link">Events</a>
                    <a data-scroll href="#competitions" class="mdl-layout__tab mdl-navigation__link">Competitions</a>
                    <a data-scroll href="#celebrities" class="mdl-layout__tab mdl-navigation__link">Celebrities</a>
                    <a data-scroll href="#lectures" class="mdl-layout__tab mdl-navigation__link">Guest Lectures</a>
                    <a data-scroll href="#workshops" class="mdl-layout__tab mdl-navigation__link">Workshops</a>
                    <a data-scroll href="#fun" class="mdl-layout__tab mdl-navigation__link">Entertainment</a>
                    <!-- a href="{{ path('login') }}" class="mdl-layout__tab mdl-navigation__link">
                        <span>Register / Login</span>
                    </a -->
                </nav>
            </div>
        </header>
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title mdl-color--blue-700 mdl-color-text--white">Perception 2017</span>
            <nav class="mdl-navigation">
                <a href="events" class="mdl-navigation__link">Events</a>
                <a data-scroll href="#competitions" class="mdl-navigation__link">Competitions</a>
                <a data-scroll href="#celebrities" class="mdl-navigation__link">Celebrities</a>
                <a data-scroll href="#lectures" class="mdl-navigation__link">Guest Lectures</a>
                <a data-scroll href="#workshops" class="mdl-navigation__link">Workshops</a>
                <a data-scroll href="#fun" class="mdl-navigation__link">Entertainment</a>
                <!-- a href="{{ path('login') }}" class="mdl-layout__tab mdl-navigation__link">
                        <span>Register / Login</span>
                    </a -->
            </nav>
        </div>
        <main class="perception-layout-content mdl-layout__content mdl-color-text--grey-600">
            {% block content %}{% endblock %}
            <div class="spacer"></div>
            {% include 'partials/footer.partial.html.twig' %}
        </main>
    </div>
{% endblock %}

{% block tailscripts %}
    <!-- script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.min.js"></script -->
    {{ parent() }}
    <script src="scripts/index.js"></script>
{% endblock %}