{% extends 'base.html.twig' %}
{% block pageid %}templates{% endblock %}
{% block body %}
    <div class="perception-layout mdl-layout mdl-layout--fixed-header mdl-js-layout mdl-layout--no-desktop-drawer-button">
        <header class="perception-layout-header mdl-layout__header mdl-layout__header--scroll mdl-layout__header--transparent">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title">
                    <a href="/"><img class="logo-sm" src="{{ asset('images/perception-small.png') }}" /></a>
                </span>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>
                <!-- Navigation -->
                <nav class="perception-navigation mdl-navigation mdl-layout--large-screen-only">
                    <a href="{{ path('homepage') }}" class="mdl-navigation__link">Home</a>
                    <a href="{{ path('event_index') }}" class="mdl-navigation__link">Events</a>
                    <a data-scroll href="/#competitions" class="mdl-navigation__link">Competitions</a>
                    <a data-scroll href="/#celebrities" class="mdl-navigation__link">Celebrities</a>
                    <a data-scroll href="/#lectures" class="mdl-navigation__link">Guest Lectures</a>
                    <a data-scroll href="/#workshops" class="mdl-navigation__link">Workshops</a>
                    <a data-scroll href="/#fun" class="mdl-navigation__link">Entertainment</a>
                    <!-- a href="{{ path('login') }}" class="mdl-layout__tab mdl-navigation__link">
                        <span>Register / Login</span>
                    </a -->
                </nav>
            </div>
        </header>
        <div class="perception-drawer mdl-layout__drawer">
            <span class="mdl-layout-title mdl-color--blue-700 mdl-color-text--white">Perception 2017</span>
            <nav class="mdl-navigation">
                <a href="/" class="mdl-navigation__link"><span class="material-icons">home</span>Home</a>
                <a href="{{ path('event_index') }}" class="mdl-navigation__link"><span class="material-icons">event</span>Events</a>
                <a data-scroll href="/#competitions" class="mdl-navigation__link"><span class="material-icons">event</span>Competitions</a>
                <a data-scroll href="/#celebrities" class="mdl-navigation__link"><span class="material-icons">face</span>Celebrities</a>
                <a data-scroll href="/#lectures" class="mdl-navigation__link"><span class="material-icons">speaker_notes</span>Guest Lectures</a>
                <a data-scroll href="/#workshops" class="mdl-navigation__link"><span class="material-icons">settings</span>Workshops</a>
                <a data-scroll href="/#fun" class="mdl-navigation__link"><span class="material-icons">movie</span>Entertainment</a>
                <!-- a href="{{ path('login') }}" class="mdl-layout__tab mdl-navigation__link">
                        <span>Register / Login</span>
                    </a -->
            </nav>
        </div>
        {% block before_content %}{% endblock %}
        <main class="perception-layout-content mdl-layout__content mdl-color-text--grey-600">
            {% block content %}{% endblock %}
            <div class="spacer"></div>
            {% include 'partials/footer.partial.html.twig' %}
        </main>
    </div>
{% endblock %}