{% extends 'base.html.twig' %}

{% block title %}Perception 2017{% endblock %}
{% block pageid %}home{% endblock %}

{% block styles %}    
    <link href='https://fonts.googleapis.com/css?family=Exo'
          rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    {% stylesheets
        'styles/bootstrap-material-design.css'
        'styles/ripples.css'
        'styles/hover.css'
     %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}">
    {% endstylesheets %}
    {% stylesheets
    'styles/styles.css' %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div class="perception-layout">
        <header class="perception-layout-header">
            <nav class="perception-navbar navbar navbar-default navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                            <i class="material-icons">menu</i>
                        </button>
                        <a class="navbar-brand" href="{{ path('homepage') }}">
                            <img alt="perception" src="{{ asset('images/perception-small.png') }}" />
                        </a>
                    </div>
                    <div class="navbar-collapse collapse navbar-responsive-collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="{{ path('event_index') }}">Events</a></li>
                            <li><a data-scroll href="#competitions">Competitions</a></li>
                            <li><a data-scroll href="#celebrities">Celebrities</a></li>
                            <li><a data-scroll href="#lectures">Guest Lectures</a></li>
                            <li><a data-scroll href="#workshops">Workshops</a></li>
                            <li><a data-scroll href="#fun">Entertainment</a></li>
                            <!-- li><a href="javascript:void(0)">Schedule</a></li -->
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="{{ path('login') }}" class="login-link">
                                    <span>Register</span>
                                    <span class="material-icons">arrow_forward</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <!--div class="mdl-layout__drawer">
            <span class="mdl-layout-title mdl-color--blue-700 mdl-color-text--white">Perception 2017</span>
            <nav class="perception-navigation mdl-navigation mdl-layout--large-screen-only">
                <a href="{{ path('homepage') }}" class="mdl-navigation__link">Home</a>
                <a href="{{ path('event_index') }}" class="mdl-navigation__link">Events</a>
                <a data-scroll href="#competitions" class="mdl-navigation__link">Competitions</a>
                <a data-scroll href="#celebrities" class="mdl-navigation__link">Celebrities</a>
                <a data-scroll href="#lectures" class="mdl-navigation__link">Guest Lectures</a>
                <a data-scroll href="#workshops" class="mdl-navigation__link">Workshops</a>
                <a data-scroll href="#fun" class="mdl-navigation__link">Entertainment</a>
                <!-- a href="{{ path('login') }}" class="mdl-layout__tab mdl-navigation__link">
                        <span>Register / Login</span>
                    </a>
            </nav>
        </div -->
        <main class="perception-layout-container container-fluid">
            <section class="perception-header box row">
                <div class="perception-header__left intro col-md-6 col-sm-12 center">
                    <div class="logo-wrapper text-center">
                        <img class="img-responsive" src="/images/perception.png" />
                    </div>
                    <h3 class="intro__subheader mdl-color-text--grey-800">
                        The annual techno literary management fest of College of Engineering and Technology, Bhubaneswar
                    </h3>
                    <p class="intro__text">
                        <br><br>
                    </p>
                    <div class="text-center">
                        <a data-scroll href="#explore" class="btn btn-raised btn-colored btn-info">Explore</a>
                    </div>
                </div>
                <div class="perception-header__right countdown col-md-6 col-sm-12 col center">
                    <h3 class="text-center">31<sup>th</sup> January to 2<sup>nd</sup> February </h3>
                    <h5 class="text-center">We are almost there!</h5>
                    <div id="clockdiv" class="clockdiv">
                        <div>
                            <div class="days number"></div>
                            <div class="smalltext">Days</div>
                        </div>
                        <div>
                            <div class="hours number"></div>
                            <div class="smalltext">Hours</div>
                        </div>
                        <div>
                            <div class="minutes number"></div>
                            <div class="smalltext">Minutes</div>
                        </div>
                        <div>
                            <div class="seconds number"></div>
                            <div class="smalltext">Seconds</div>
                        </div>
                    </div>
                    <div id="anim">
                        <img class="perspective sun" src="{{ asset('images/sun.png') }}"  />
                        <img class="perspective monuments" src="{{ asset('images/monuments.png') }}" />
                        <img class="perspective hills" src="{{ asset('images/hills.png') }}" />
                        <img class="balloon bigballoon" src="{{ asset('images/bigballoon.png') }}" />
                        <img class="balloon smallballoon" src="{{ asset('images/smallballoon.png') }}" />
                        <img class="balloon smallballoon2" src="{{ asset('images/smallballoon.png') }}" />
                        <img class="cloud littlecloud" src="{{ asset('images/littlecloud.png') }}" />
                        <img class="cloud bigcloud" src="{{ asset('images/bigcloud.png') }}" />
                        <img class="cloud littlecloud2" src="{{ asset('images/littlecloud.png') }}" />
                    </div>
                </div>
            </section>
            <section class="perception__trailer center bleed">
                <h2 class="section-heading">The Infinity</h2>
                <p class="section-subhead"> </p>
                <div class="video">
                    <div class="video__frame embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" id="embed" src="https://www.youtube.com/embed/ThNaSkM-HwA?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="video__caption">
                        Perception 2017 | Infinity and Beyond
                    </div>
                </div>
            </section>
            <section class="perception__photos photo-grid"> 
                <!-- img class="img-responsive" src="http://placehold.it/450x450" />
                <img class="img-responsive" src="http://placehold.it/450x450" />
                <img class="img-responsive" src="http://placehold.it/450x450" / -->
            </section>
            <section id="competitions" class="perception__competitions center">
                <h2 id="explore" class="section-heading" >Competitions</h2>
                <div class="competition-categories box row">
                    <div class="category col-sm-12 col-md-4">
                        <a href="/events#tech"><img class="img-responsive hvr-bob" src="{{ asset('images/custom-icon-cogs-600x518.png') }}"></a>
                        <h4 class="text-center"><a href="/events#tech">Technical</a></h4>
                    </div>
                    <div class="category col-sm-12 col-md-4">
                        <a href="/events#management"><img class="img-responsive hvr-bob" src="{{ asset('images/custom-icon-briefcase-closed-600x518.png') }}"></a>
                        <h4 class="text-center"><a href="/events#management">Management</a></h4>
                    </div>
                    <div class="category col-sm-12 col-md-4">
                        <a href="/events#literary"><img class="img-responsive hvr-bob" src="{{ asset('images/custom-icon-ballpoint-600x518.png') }}"></a>
                        <h4 class="text-center"><a href="/events#literary">Literary</a></h4>
                    </div>
                </div>
                <div class="text-center">
                    <a data-scroll href="{{ path('event_index') }}" class="btn btn-raised btn-colored btn-info">Explore all events</a>
                </div>
            </section>
                {% if hasFlagships %}
            <section class="perception__featured">
                <h2 id="explore" class="section-heading" >Featured Events</h2>
                <!-- p class="section-subhead"></p -->
                <div class="container featured-events center">
                    <ul class="event-list row row-centered">
                    {% for event in flagships %}
                    <li class="col-sm-12 col-md-4 col-lg-3 col-centered">
                        <a class="event-logo" href="/event/{{event.slug}}">
                            {% if event.image %}
                            <img src="{{ asset('uploads/images/' ~ event.image.fileName) }}" />
                            {% else %}
                            <img src="{{ asset('images/event.jpg') }}" />
                            {% endif %}
                            <div class="event-description">
                                {{ event.description }}
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                    </ul>
                    </div>
                {% endif %}
            </section>
            {% if hasCelebrityAppearances %}
            <section id="celebrities" class="celebrities mdl-color--purple-300 mdl-color-text--white">
                <div class="content-box center mdl-grid">
                    <h2 class="mdl-typography--text-center section-header mdl-cell mdl-cell--12-col" >Celebrities</h2>
                    {% for event in celebrityAppearances %}
                    <div class="celebrity person mdl-cell mdl-cell--4-col">
                        {% if event.image %}
                        <img class="img-responsive img-circle" src="{{ asset('uploads/images/' ~ event.image.fileName) }}">
                        {% else %}
                        <img class="img-responsive img-circle" src="{{ asset('images/silhouette.png') }}">
                        {% endif %}
                        <h4 class="mdl-typography--text-center">{{ event.description }}</h4>
                    </div>
                    {% endfor %}
                </div>
            </section>
            {% endif %}
            {% if hasGuestLectures %}
            <section id="lectures" class="guest-lectures mdl-color--blue-300 mdl-color-text--white">
                <div class="content-box center mdl-grid">
                    <h2 class="mdl-typography--text-center section-header mdl-cell mdl-cell--12-col" >Guest Lectures</h2>
                    {% for event in celebrityAppearances %}
                    <div class="guest-lecture person mdl-cell mdl-cell--4-col">
                        {% if event.image %}
                            <img class="img-responsive img-circle" src="{{ asset('uploads/images/' ~ event.image.fileName) }}" />
                        {% else %}
                            <img class="img-responsive img-circle" src="{{ asset('images/silhouette.png') }}" />
                        {% endif %}
                        <h4 class="mdl-typography--text-center">{{ event.description }}</h4>
                    </div>
                    {% endfor %}

                </div>
            </section>
            {% endif %}
            {% if hasWorkshops %}
            <section id="workshops" class="workshops mdl-color--green-300 mdl-color-text--grey-700">
                <div class="content-box center mdl-grid">
                    <h2 class="mdl-typography--text-center section-header mdl-cell mdl-cell--12-col" >Workshops</h2>
                    {% for event in flagships %}
                        <div class="workshop event-card mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col"
                                {% if event.image %}
                             style="background-image: url({{ asset('uploads/images/' ~ event.image.fileName) }})">
                            {% else %}
                                style="background-image: url({{ asset('images/event.jpg') }})">
                            {% endif %}
                            <div class="mdl-card__title mdl-card--expand"></div>
                            <div class="mdl-card__actions">
                                <span class="mdl-color-text--black">{{ event.name }}</span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </section>
            {% endif %}
            <!-- section id="fun" class="entertainment mdl-color--yellow-300 mdl-color-text--grey-700">
                <div class="content-box center mdl-grid">
                    <h2 class="mdl-typography--text-center section-header mdl-cell mdl-cell--12-col" >Entertainment</h2>
                    <div class="fun-event event-card mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col" style="background-image: url({{ asset('images/event.jpg') }})">
                        <div class="mdl-card__title mdl-card--expand"></div>
                        <div class="mdl-card__actions">
                            <a class="mdl-color-text--black">Event</a>
                        </div>
                    </div>
                    <div class="fun-event event-card mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col" style="background-image: url({{ asset('images/event.jpg') }})">
                        <div class="mdl-card__title mdl-card--expand"></div>
                        <div class="mdl-card__actions">
                            <a class="mdl-color-text--black">Event</a>
                        </div>
                    </div>
                    <div class="fun-event event-card mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col" style="background-image: url({{ asset('images/event.jpg') }})">
                        <div class="mdl-card__title mdl-card--expand"></div>
                        <div class="mdl-card__actions">
                            <a class="mdl-color-text--black">Event</a>
                        </div>
                    </div>
                </div>
            </section -->
            <section class="perception__sponsors">
            </section>
            <section class="perception__contact-us">
                <h2 class="section-heading">Find us here</h2>
                <p class="section-subhead"></p>
                <div class="box map-container">
                    <iframe class="map-embed" src="//www.google.com/maps/embed/v1/place?q=College%20of%20Engineering%20and%20Technology,%20Bhubaneswar&zoom=17&key=AIzaSyB4rXPkz--uY4KYLEWPiuIl5PdueEyPNbs">
                    </iframe>
                </div>
            </section>
            {# % include 'partials/footer.partial.html.twig' % #}
        </main>
        <footer id="footer" class="perception-footer">
            <ul class="footer__row footer__social-links">
                <li>
                    <a class="twitter" href="https://twitter.com"></a>
                </li>
                <li>
                    <a class="facebook" href="https://www.facebook.com/cet.bbsr.perception"></a>
                </li>
                <li>
                    <a class="google" href="#"></a>
                </li>
            </ul>
            <div class="footer__row text-center footer__image">
                <img src="{{ asset('images/perception-small.png') }}" />
            </div>
            <div class="footer__row">
                Copyright &copy 2017 All Rights Reserved
            </div>
            <div class="footer__row footer__links">
                <a href="#">About us</a>
                <a href="#">Contact us</a>
                <a href="#">Terms & Privacy</a>
            </div>
        </footer>
    </div>
{% endblock %}

{% block tailscripts %}
    <!-- script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.min.js"></script -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% javascripts
        'scripts/material.js'
        'scripts/ripples.js'
        'scripts/smooth-scroll.js'
        'scripts/floating-navbar.js'
        'scripts/index.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script defer>
        $(function () {
            $.material.init();
        });

        //start animation on load, not DOMContentLoaded
        window.addEventListener("load", function(event) {
            $('#anim').addClass('animate');
        });
    </script>
    {% javascripts 'scripts/gmaps.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}