{% extends 'base.html.twig' %}

{% block title %}Perception 2017{% endblock %}
{% block pageid %}home{% endblock %}
{% block body %}
    <div class="perception-layout mdl-layout mdl-layout--fixed-header mdl-js-layout mdl-layout--no-desktop-drawer-button">
        <header class="perception-layout-header mdl-layout__header mdl-layout__header--scroll mdl-layout__header--transparent">
            <div class="mdl-layout__header-row">
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>
                <!-- Navigation -->
                <nav class="perception-navigation mdl-navigation mdl-layout--large-screen-only">
                    <a href="{{ path('event_index') }}" class="mdl-navigation__link">Events</a>
                    <a data-scroll href="#competitions" class="mdl-navigation__link">Competitions</a>
                    <a data-scroll href="#celebrities" class="mdl-navigation__link">Celebrities</a>
                    <a data-scroll href="#lectures" class="mdl-navigation__link">Guest Lectures</a>
                    <a data-scroll href="#workshops" class="mdl-navigation__link">Workshops</a>
                    <a data-scroll href="#fun" class="mdl-navigation__link">Entertainment</a>
                    <!-- a href="{{ path('login') }}" class="mdl-layout__tab mdl-navigation__link">
                        <span>Register / Login</span>
                    </a -->
                </nav>
            </div>
        </header>
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title mdl-color--blue-700 mdl-color-text--white">Perception 2017</span>
                <nav class="mdl-navigation">
                    <a href="events" class="mdl-navigation__link">Events</a>
                    <a data-scroll href="#competitions" class="mdl-navigation__link">Competitions</a>
                    <a data-scroll href="#celebrities" class="mdl-navigation__link">Celebrities</a>
                    <a data-scroll href="#lectures" class="mdl-navigation__link">Guest Lectures</a>
                    <a data-scroll href="#workshops" class="mdl-navigation__link">Workshops</a>
                    <a data-scroll href="#fun" class="mdl-navigation__link">Entertainment</a>
                    <!-- a href="{{ path('login') }}" class="mdl-layout__tab mdl-navigation__link">
                        <span>Register / Login</span>
                    </a -->
                </nav>
        </div>
        <main class="perception-layout-content mdl-layout__content mdl-color-text--grey-600">
            <section class="section-head">
                <div class="section-content box center">
                    <div class="logo-wrapper">
                        <img class="logo" src="/images/perception.png" />
                    </div>
                    <h3 class="mdl-typography--headline mdl-color-text--white" >
                        The annual techno literary management fest of College of Engineering and Technology, Bhubaneswar
                    </h3>
                    <div class="row center">
                        <a href="#explore" class="mdl-button mdl-js-button mdl-js-ripple mdl-button--raised mdl-button-colored mdl-color--light-blue-600 mdl-color-text--white">Explore</a>
                    </div>
                </div>
            </section>
            <section class="mdl-color--white countdown">
                <div class="content-box center">
                    <h3 class="mdl-typography--text-center">31<sup>th</sup> January to 2<sup>nd</sup> February </h3>
                    <h5 class="mdl-typography--text-center">We are almost there!</h5>
                    <div id="clockdiv">
                        <div>
                            <span class="days"></span>
                            <div class="smalltext">Days</div>
                        </div>
                        <div>
                            <span class="hours"></span>
                            <div class="smalltext">Hours</div>
                        </div>
                        <div>
                            <span class="minutes"></span>
                            <div class="smalltext">Minutes</div>
                        </div>
                        <div>
                            <span class="seconds"></span>
                            <div class="smalltext">Seconds</div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="competitions" class="competitions center mdl-color--white">
                <div class="content-box mdl-grid">
                    <h2 class="mdl-typography--text-center section-header mdl-cell mdl-cell--12-col" >Competitions</h2>
                    <div class="category mdl-cell mdl-cell--4-col">
                        <img class="img-responsive" src="{{ asset('images/custom-icon-cogs-600x518.png') }}">
                        <h4 class="mdl-typography--text-center">Technical</h4>
                    </div>
                    <div class="category mdl-cell mdl-cell--4-col">
                        <img class="img-responsive" src="{{ asset('images/custom-icon-briefcase-closed-600x518.png') }}">
                        <h4 class="mdl-typography--text-center">Management</h4>
                    </div>
                    <div class="category mdl-cell mdl-cell--4-col">
                        <img class="img-responsive" src="{{ asset('images/custom-icon-ballpoint-600x518.png') }}">
                        <h4 class="mdl-typography--text-center">Literary</h4>
                    </div>
                </div>
                {% if hasFlagships %}
                <div class="content-box featured-events center mdl-grid">
                    {% for event in flagships %}
                    <div class="competition event-card mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col"
                            {% if event.image %}
                         style="background-image: url({{ asset('uploads/images/' ~ event.image.fileName) }})">
                            {% else %}
                        style="background-image: url({{ asset('images/event.jpg') }})">
                        {% endif %}
                        <div class="mdl-card__title mdl-card--expand"></div>
                        <div class="mdl-card__actions">
                            <span class="mdl-color-text--black">{{ event.name }}</span>
                        </div>
                    </div>
                    {% endfor %}
                    </div>
                {% endif %}
            </section>
            {% if hasCelebrityAppearances %}
            <section id="celebrities" class="celebrities mdl-color--purple-300 mdl-color-text--white">
                <div class="content-box center mdl-grid">
                    <h2 class="mdl-typography--text-center section-header mdl-cell mdl-cell--12-col" >Celebrities</h2>
                    {% for event in celebrityAppearances %}
                    <div class="celebrity person mdl-cell mdl-cell--4-col">
                        {% if event.image %}
                        <img class="img-responsive img-circle" src="{{ asset('uploads/images/' ~ event.image.fileName) }}">
                        {% else %}
                        <img class="img-responsive img-circle" src="{{ asset('images/silhouette.png') }}">
                        {% endif %}
                        <h4 class="mdl-typography--text-center">{{ event.description }}</h4>
                    </div>
                    {% endfor %}
                </div>
            </section>
            {% endif %}
            {% if hasGuestLectures %}
            <section id="lectures" class="guest-lectures mdl-color--blue-300 mdl-color-text--white">
                <div class="content-box center mdl-grid">
                    <h2 class="mdl-typography--text-center section-header mdl-cell mdl-cell--12-col" >Guest Lectures</h2>
                    {% for event in celebrityAppearances %}
                    <div class="guest-lecture person mdl-cell mdl-cell--4-col">
                        {% if event.image %}
                            <img class="img-responsive img-circle" src="{{ asset('uploads/images/' ~ event.image.fileName) }}">
                        {% else %}
                            <img class="img-responsive img-circle" src="{{ asset('images/silhouette.png') }}">
                        {% endif %}
                        <h4 class="mdl-typography--text-center">{{ event.description }}</h4>
                    </div>
                    {% endfor %}

                </div>
            </section>
            {% endif %}
            {% if hasWorkshops %}
            <section id="workshops" class="workshops mdl-color--green-300 mdl-color-text--grey-700">
                <div class="content-box center mdl-grid">
                    <h2 class="mdl-typography--text-center section-header mdl-cell mdl-cell--12-col" >Workshops</h2>
                    {% for event in flagships %}
                        <div class="workshop event-card mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col"
                                {% if event.image %}
                             style="background-image: url({{ asset('uploads/images/' ~ event.image.fileName) }})">
                            {% else %}
                                style="background-image: url({{ asset('images/event.jpg') }})">
                            {% endif %}
                            <div class="mdl-card__title mdl-card--expand"></div>
                            <div class="mdl-card__actions">
                                <span class="mdl-color-text--black">{{ event.name }}</span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </section>
            {% endif %}
            <section id="fun" class="entertainment mdl-color--yellow-300 mdl-color-text--grey-700">
                <div class="content-box center mdl-grid">
                    <h2 class="mdl-typography--text-center section-header mdl-cell mdl-cell--12-col" >Entertainment</h2>
                    <div class="fun-event event-card mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col" style="background-image: url({{ asset('images/event.jpg') }})">
                        <div class="mdl-card__title mdl-card--expand"></div>
                        <div class="mdl-card__actions">
                            <a class="mdl-color-text--black">Event</a>
                        </div>
                    </div>
                    <div class="fun-event event-card mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col" style="background-image: url({{ asset('images/event.jpg') }})">
                        <div class="mdl-card__title mdl-card--expand"></div>
                        <div class="mdl-card__actions">
                            <a class="mdl-color-text--black">Event</a>
                        </div>
                    </div>
                    <div class="fun-event event-card mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col" style="background-image: url({{ asset('images/event.jpg') }})">
                        <div class="mdl-card__title mdl-card--expand"></div>
                        <div class="mdl-card__actions">
                            <a class="mdl-color-text--black">Event</a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="sponsors">
            </section>
            <section id="contact" class="contact-us mdl-color--grey-300 mdl-color-text--grey-700">
                <div class="content-box mdl-grid">
                    <h2 class="mdl-typography--text-center section-header mdl-cell mdl-cell--12-col" >Contact Us</h2>
                    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-desktop">
                        <h3>Address</h3>
                        <address>College of Engineering and Technology,<br>
                            Kalinga Nagar,<br>
                            Ghatikia,<br>
                            Bhubaneswar
                        </address>
                    </div>
                    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-desktop">
                        <h3>Get in touch</h3>
                        <ul class="contact-options">
                            <li><i class="material-icons icon">mail</i><a href="mailto:perception@cetb.in">perception@cetb.in</a></li>
                            <li><img class="icon" src="/images/facebook-box-dark.png" width="24" height="24"><a href="https://www.facebook.com/cet.bbsr.perception/">facebook.com/ascend2.0</a></li>
                        </ul>
                    </div>
                    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-desktop">
                        <form id="contact-us-form">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="text" id="name" name="Name" />
                                <label class="mdl-textfield__label" for="name">Name</label>
                            </div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="email" id="email" name="Email" />
                                <label class="mdl-textfield__label" for="email">Email</label>
                            </div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <textarea class="mdl-textfield__input" type="text" rows="3" id="message" name="Message"></textarea>
                                <label class="mdl-textfield__label" for="message">Message</label>
                            </div>
                            <div>
                                <button type="submit" id="contact-us-send" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                                    Send
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
            {% include 'partials/footer.partial.html.twig' %}
        </main>
    </div>
{% endblock %}

{% block tailscripts %}
    <!-- script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.min.js"></script -->
    {{ parent() }}
    <script src="scripts/index.js"></script>
{% endblock %}