{% extends 'base.html.twig' %}

{% block body %}
    <h1>Events list</h1>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Slug</th>
            <th>Description</th>
            <th>Content</th>
            <th>Attachments</th>
            <th>Time</th>
            <th>Venue</th>
            <th>Team Event</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td><a href="{{ path('admin_event_show', { 'id': event.id }) }}">{{ event.id }}</a></td>
                <td>{{ event.name }}</td>
                <td>{{ event.slug }}</td>
                <td>{{ event.description }}</td>
                <td>{{ event.content }}</td>
                <td>{% if event.attachments %}{{ event.attachments|join(', ') }}{% endif %}</td>
                <td>{% if event.time %}{{ event.time|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ event.venue }}</td>
                <td>{{ event.teamEvent }}</td>
                <td>{{ event.price }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('event_show', { 'id': event.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
