{% extends '::page.html.twig' %}

{% block pageid %}events event{% endblock %}
{% block title %}{{ event.name }} - Perception 2017{% endblock %}
{% block description %}{{ event.description }}{% endblock %}
{% block before_content %}
    <div class="event-ribbon"></div>
{% endblock %}

{% block content %}
    <div class="event-display mdl-grid">
        <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
            <div class="mdl-card__media mdl-color-text--grey-50"
                {% if event.image %}
                style="background-image: url({{ asset('uploads/images/' ~ event.image.fileName) }})">
                {% else %}
                style="background-image: url({{ asset('images/event.jpg') }})">
                {% endif %}
            </div>
            <!-- div class="mdl-color-text--grey-700 mdl-card__supporting-text meta">
                <!--
                {% if registered %}
                    Seems interesting ? Click here to register
                {% else %}
                    You are registered for this event
                {% endif %}
                <div class="center">
                    {% if registered %}
                        <a href="{{ path('event_unregister', { 'id': event.id }) }}">unregister</a>
                    {% else %}
                        <a href="{{ path('event_register', { 'id': event.id }) }}">register</a>
                    {% endif %}
                </div>
            </div -->
            <div class="mdl-color-text--grey-700 mdl-card__supporting-text">
                <h3>{{ event.name }}</h3>
                {{ content | raw }}
            </div>
        </div>
    </div>
{% endblock %}
