{#{% extends "::base.html.twig" %}#}

{#{% block title %}UserBundle:VerifyController:verify{% endblock %}#}

{% block body %}
<section id="">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h3>
                    {% trans %}user.change.password{% endtrans %}
                </h3>
                {{ form_start(form) }}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('change_password') }}"/>
                {{ form_widget(form) }}
                <div id="pass-info" class="clearfix"></div>
                {# reCaptcha validation should go here #}
                <button type="submit" id="password-change-submit" class="btn btn-primary">
                    {% trans %}user.password.action{% endtrans %}
                </button>
                <a href="{{ path('view_study_table') }}" style="line-height: 1.42857143" class="btn btn-danger">Cancel</a>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block jsVariables %}
    <script>
        $(document).ready(function() {
            var password1 		= $('#change_password_new_first'); //id of first password field
            var password2		= $('#change_password_new_second'); //id of second password field
            var passwordsInfo 	= $('#pass-info'); //id of indicator element
            passwordStrengthCheck(password1,password2,passwordsInfo); //call password check function
        });
    </script>
{% endblock %}