{#{% extends "::base.html.twig" %}#}
{#{% block body %}#}
    {#{{ dump(asset(profiles.getAvatar(profile.user))) }}#}
    {#<img src="{{ asset(profiles.getAvatar(profile.user)) }}">#}
    <h3>Change Display Picture</h3>
    {{ form_start(form) }}
        {{ form_errors(form)}}
        {{ form_rest(form) }}
        {#<a href="#", class="btn btn-primary">Back</a>#}
    {{ form_end(form) }}
{#{% endblock %}#}