{% extends 'admin/base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Events list</h1>

        <table class="table table-striped table-hover ">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Slug</th>
                <th>Description</th>
                <th>Content</th>
                <th>Attachments</th>
                <th>Time</th>
                <th>Venue</th>
                <th>Team Event</th>
                <th>Price</th>
                <th>Coordinators</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for event in events %}
                <tr>
                    <td><a href="{{ path('admin_event_show', { 'id': event.id }) }}">{{ event.id }}</a></td>
                    <td>{{ event.name }}</td>
                    <td>{{ event.slug }}</td>
                    <td>{{ event.description }}</td>
                    <td>{{ event.content }}</td>
                    <td>{% if event.attachments %}{{ event.attachments|join(', ') }}{% endif %}</td>
                    <td>{% if event.time %}{{ event.time|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{{ event.venue }}</td>
                    <td>{{ event.teamEvent }}</td>
                    <td>{{ event.price }}</td>
                    <td>
                        <ul>
                            {% for coordinator in event.coordinators %}
                                <li>{{ coordinator.name }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('admin_event_show', { 'id': event.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('admin_event_edit', { 'id': event.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <ul>
            <li>
                <a href="{{ path('admin_event_new') }}">Create a new event</a>
            </li>
        </ul>
    </div>
{% endblock %}
